body {background-image:url(music-1.gif); 
    background-position: center; 
    background-repeat: repeat; 
    background-attachment: fixed;}
h1 {color: navy; font-family: arial; text-align: center;}

